.skills {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px 0;

    height: 100%;
    align-items: center;
}

.colorized {
    & svg {
        border-radius: 15px;

        &:nth-child(1) {
            background: #FFDE02;
        }

        &:nth-child(2) {
            background: #3D58DB;
        }

        &:nth-child(3) {
            background: #A13BC5;
        }

        &:nth-child(4) {
            background: #E53B35;
        }

        &:nth-child(5) {
            background: #4E77C6;
        }

        &:nth-child(6) {
            background: #FFDE02;
        }

        &:nth-child(7) {
            background: #4E77C6;
        }

        &:nth-child(8) {
            background: #2ABFE0;
        }

        &:nth-child(9) {
            background: #2EC18C;
        }

        &:nth-child(10) {
            background: #3D58DB;
        }

        &:nth-child(11) {
            background: #696969;
        }

        &:nth-child(12) {
            background: #A13BC5;
        }

        &:nth-child(13) {
            background: #9FEAF9;
        }

        &:nth-child(14) {
            background: #696969;
        }

        &:nth-child(15) {
            background: #A13BC5;
        }

        &:nth-child(16) {
            background: #A13BC5;
        }

        &:nth-child(17) {
            background: #FF8C1A;
        }

        &:nth-child(18) {
            background: #FFDE02;
        }

        &:nth-child(19) {
            background: #4E77C6;
        }

        &:nth-child(20) {
            background: #696969;
        }

        &:nth-child(21) {
            background: #C5433B;
        }

        &:nth-child(22) {
            background: #22438B;
        }

        &:nth-child(23) {
            background: #A13BC5;
        }

        &:nth-child(24) {
            background: #4E77C6;
        }

        &:nth-child(25) {
            background: #868D97;
        }

        &:nth-child(26) {
            background: #46467F;
        }

        &:nth-child(27) {
            background: #5EAA22;
        }

        &:nth-child(28) {
            background: #E53B35;
        }
    }
}