.about {
    background: var(--primary);
    color: var(--font-color-opposite);
    text-align: center;
    font-size: 17px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.225px;

    padding: 5px;
}