.hobbies {
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.colorized {
    & svg {
        border-radius: 15px;

        &:nth-child(1) {
            background: #FF8C1A;
        }

        &:nth-child(2) {
            background: #22438B;
        }

        &:nth-child(3) {
            background: #A13BC5;
        }

        &:nth-child(4) {
            background: #FFDE02;
        }

        &:nth-child(5) {
            background: #FF8C1A;
        }

        &:nth-child(6) {
            background: #4E77C6;
        }

        &:nth-child(7) {
            background: #4E77C6;
        }

        &:nth-child(8) {
            background: #A13BC5;
        }
    }
}