.dark {
    --primary: #FF8A00;
    --secondary: #595959;
    --theme: #272727;
    --opposite: #fff;
    --font-color: #fff;
    --font-color-opposite: #000;
    --font-color-caption: #D3DAD4;
    --svg-primary: #fff;
    --svg-bg: var(--primary);

    --bg: var(--theme)
}
