.navigation {
    font-family: var(--font-family-caption);
    color: var(--font-color-opposite);
    background: var(--primary);
    text-align: center;
    font-size: 17px;
    font-style: italic;
    font-weight: 300;
    line-height: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1280px;
    gap: 10px;
    row-gap: 14px;
    padding: 10px 0;
    justify-content: center;
}