.light {

    --primary: #FF9999;
    --secondary: #fff;
    --theme: #D9D9D9;
    --opposite: #fff;
    --font-color: #000;
    --font-color-opposite: #fff;
    --font-color-caption: #868D97;
    --svg-primary: #000;
    --svg-bg: var(--primary);
    --bg: var(--theme)
}